{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Get everything delivered anywhere!</h1>
        {% if user.is_authenticated %}
          Hi {{ user.username }}! What do you want to do?   
        {% else %}
          <p class="lead text-muted">Do you want something delivered? Make an account!</p>
        {% endif %}

      </div>
    </div>
  </section>



</main>

{% endblock %}